:root {
  --vd-Blue: hsl(243, 87%, 12%);
  --d-Blue: hsl(238, 22%, 44%);

  --b-Blue: hsl(224, 93%, 58%);
  --m-Cyan: hsl(170, 45%, 43%);

  --lg-Blue: hsl(240, 75%, 98%);
  --l-Gray: hsl(0, 0%, 75%);
}
